<nav>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">
    <div>
      <link-icon [size]="26" />
    </div>
    <span>Link bin</span>
  </a>

  @for (bin of bins(); track bin.id) {
    <a [routerLink]="['/bins', bin.id]" routerLinkActive="active" ariaCurrentWhenActive="page">
      <div [style.background-color]="bin.color ? bin.color : ''">
        {{bin.emoji ?? bin.name.slice(0, 3)}}
      </div>

      <span>
        {{bin.name}}
      </span>
    </a>
  }

  <button (mouseenter)="loadModal()" (click)="createBin()">
    <div>
      <app-plus [size]="26" />
    </div>
    <span>Crear contenedor</span>
  </button>
</nav>
