.root {
  height: 100vh;
  padding: var(--lg);
  box-sizing: border-box;
  
  display: grid;
  gap: var(--lg);
  grid-template-areas:
  "sidebar header"
  "sidebar body";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;  
}

.root > * {
  padding: var(--lg);
  border: 1px solid var(--border);
  border-radius: var(--base);
  background-color: var(--primary);
}

.header {
  grid-area: header;
}

.sidebar {
  max-height: calc(100vh - var(--2xl));
  overflow: auto;
  grid-area: sidebar;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}

.body {
  overflow: auto;
  grid-area: body;
  scrollbar-color: var(--secondary) var(--primary);
}
